<!doctype html>
  <title>Cardio</title>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
  </head>
  <body class="body_terato">
    <div class="mca">
      <h1>MCA</h1>
      <img src="{{url_for('static',filename='temp'+sep+'plots'+sep+plate+sep+'mca.png')}}">
    </div>
    <div class="pca">
      <h1>PCA</h1>
      <img src="{{url_for('static',filename='temp'+sep+'plots'+sep+plate+sep+'biplot_2d.png')}}">
    </div>

    <div class="feno" id='plot'>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
    $(function(){
      $("#plot").load("{{url_for('static',filename='temp'+sep+'plots'+sep+plate+sep+plot)}}");
    });
    </script>
  </body>
