<!doctype html>
  <title>Terato</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">  </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <body class="body_terato">
  <div class="home">
    <a href="{{ url_for('home') }}"><img class="but_home" src="{{url_for('static',filename='img/home_but.png')}}"></a>
  </div>

  <div class='title_terato'>
      <h1>TERATO</h1>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="goo">
        <fegaussianblur in="SourceGraphic" stddeviation="4" result="blur"></fegaussianblur>
        <fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" result="goo"></fecolormatrix>
        <feblend in="SourceGraphic" in2="goo"></feblend>
      </filter>
    </defs>
  </svg>
    <div class="selector">
      <div class="box">
        <select id="comp_select" onchange="select_well()">
          <option value="default" selected>Choose one well</option>
          {% for well in plates %}
          <option value="{{ well }}">Well {{ well[-3:] }}</option>
          {% endfor %}
        </select>
      </div>


    <button id="overview" type="button" class="refresh" onclick="overview()" name="overview">Overview</button>
  <div id="boolean_menu" style="" >
  <h1>Boolean Phenotypes</h1>
  <label class="container">Body Curvature
    <input type="checkbox" onclick="phenot(this.checked,'bodycurvature')">
    <span class="checkmark"></span>
  </label>
  <label class="container">Yolk Edema
    <input type="checkbox" id="yolk_edema" onclick="phenot(this.checked,'yolkedema')">
    <span class="checkmark"></span>
  </label>
  <label class="container">Necrosis
    <input type="checkbox" onclick="phenot(this.checked,'necrosis')">
    <span class="checkmark"></span>
  </label>
  <label class="container">Tail Bending
    <input type="checkbox" onclick="phenot(this.checked,'tailbending')">
    <span class="checkmark"></span>
  </label>
  <label class="container">Notochord Defects
    <input type="checkbox" onclick="phenot(this.checked,'notochorddefects')">
    <span class="checkmark"></span>
  </label>
  <label class="container">Craniofacial Edema
    <input type="checkbox" onclick="phenot(this.checked,'craniofacialedema')">
    <span class="checkmark"></span>
  </label>
  <label class="container">Fin Absence
    <input type="checkbox" onclick="phenot(this.checked,'finabsence')">
    <span class="checkmark"></span>
  </label>
  <label class="container">Scoliosis
    <input type="checkbox" onclick="phenot(this.checked,'scoliosis')">
    <span class="checkmark"></span>
  </label>
  <label class="container">Snout Jaw Defects
    <input type="checkbox" onclick="phenot(this.checked,'snoutjawdefects')">
    <span class="checkmark"></span>
  </label>
  <label class="container">Otoliths Defects
    <input type="checkbox" onclick="phenot(this.checked,'otolithsdefects')">
    <span class="checkmark"></span>
  </label>
</div>
<div id="mask_menu" style="display:none" >
<h1>Display masks</h1>
<label class="container">Lateral Outline
  <input type="checkbox" id="fishoutline_lateral" onclick="calc('fishoutline_lateral')">
  <span class="checkmark"></span>
</label>
<label class="container">Dorsal Outline
  <input type="checkbox" id="fishoutline_dorsal" onclick="calc('fishoutline_dorsal')">
  <span class="checkmark"></span>
</label>
<label class="container">Eyes
  <input type="checkbox" id="eyes_dorsal" onclick="calc('eyes_dorsal')">
  <span class="checkmark"></span>
</label>
<label class="container">Heart
  <input type="checkbox" id="heart_lateral" onclick="calc('heart_lateral')">
  <span class="checkmark"></span>
</label>
<label class="container">Ov
  <input type="checkbox" id="ov_lateral" onclick="calc('ov_lateral')">
  <span class="checkmark"></span>
</label>
<label class="container">Yolk
  <input type="checkbox" id="yolk_lateral" onclick="calc('yolk_lateral')">
  <span class="checkmark"></span>
</label>
    </div>
    </div>
          <div class="page" id="page"></div>
          <div class="print" id ="lateral_div"> </div>
          <div class="print1" id ="dorsal_div"> </div>
          <div class="print_plate" id ="plate"> </div>
          <div class="print1" id ="eyes_dorsal_div" style="z-index:10"> </div>
          <div class="print1" id ="eyes2_dorsal_div" style="z-index:10"> </div>
          <div class="print1" id ="fishoutline_dorsal_div" > </div>
          <div class="print" id ="fishoutline_lateral_div"> </div>
          <div class="print" id ="heart_lateral_div" style="z-index:10"> </div>
          <div class="print" id ="ov_lateral_div" style="z-index:10"> </div>
          <div class="print" id ="yolk_lateral_div" style="z-index:10"> </div>
          <div class="print2" id ="bool_div">
          <div class="bool_menu" id="bool">
            <table class="bool" id="bool_text"> </table>
          </div>
          </div>
          <button type="button" id="left_arrow" class="left_but" onclick="get_position('izquierda')" name="izquierda"><i class="arrow left"></i></button>
          <button type="button" id="right_arrow" class="right_but" onclick="get_position('derecha')" name="derecha"><i class="arrow right"></i></button>



    <script type="text/javascript">
    var temp = '/temp/'
    var position = 0;
    const selected_pheno = new Set()
    var pheno = {'bodycurvature':'Body curvature','yolkedema':'Yolk edema','necrosis':'Necrosis','tailbending':'Tail Bending','notochorddefects':'Notochord defects','craniofacialedema':'Craniofacial edema','finabsence':'Fin absence','scoliosis':'Scoliosis','snoutjawdefects':'Snout jaw defects','otolithsdefects':'Otoliths defects'}
    var types = ["eyes_dorsal", "heart_lateral", "fishoutline_dorsal", "fishoutline_lateral", "ov_lateral", "yolk_lateral"];
    var data = {{ data|tojson }};
    var images = {{ images|tojson }}

    {% if plates is defined and plates %}
    var list = {{ plates|tojson }};
    var positions = Math.ceil(list.length / 10);
    {% endif %}
    print_overview(0);

    function get_position(direction){
      if (direction == 'derecha'){
        if (position < positions - 1){
          position = position + 1;
          print_overview(position);
        }
      }
      else if (direction == 'izquierda'){
        if (position > 0){
          position = position - 1;
          print_overview(position);
        }
      }
    };

    function phenot(check, name){
      if (check){
        selected_pheno.add(name);
      }else{
        selected_pheno.delete(name);
      }
      print_overview(position)
    }

// display overview
    function print_overview(position){
      {% if plates is defined and plates %}
        document.getElementById("boolean_menu").style.display = "block";
        document.getElementById("mask_menu").style.display = "none";
        var overview = document.getElementById("overview");
        overview.style.display = "none";
        var left = document.getElementById("right_arrow");
        var right = document.getElementById("left_arrow");
        left.style.display = "block";
        right.style.display = "block";
        var div = document.getElementById("page");
        div.innerHTML = 'Page ' + parseInt(position+1) + ' of ' + positions;
        var path = document.getElementById("comp_select").value;
        var plate = {{ plates|tojson }};
        var div = document.getElementById("lateral_div");
        div.innerHTML = '';
        var div2 = document.getElementById("dorsal_div");
        div2.innerHTML = '';
        document.getElementById("bool").style.display = "none";
        var initial = position*10;
        if (plate.length > initial + 10){
          var final = initial + 9;
        }else{
          var final = plate.length;
        }
        var div_plate = document.getElementById("plate");
        div_plate.innerHTML = '';
        for (var i = initial; i <= final; i++){
          var div = document.getElementById("plate");
          var out = plate[i].split('/');
          var well = out[out.length - 1];
          var set_size = selected_pheno.size;
          var sum = 0;
          for (let item of selected_pheno){
            if(data[well][item] > 0.5){
              sum = sum + 1;
            }
          }
          if (sum == set_size & set_size >0){
            div.innerHTML += '<img src={{url_for('static',filename= '')}}'+ plate[i].substring(7) +'/'+ images[well][1] + ' id="'+ plate[i] +'" onclick="image(this)" style="border: 4px solid red;border-right-width: 0px;"/>';
            div.innerHTML += '<img src={{url_for('static',filename= '')}}'+ plate[i].substring(7) + '/' + images[well][0] + ' id="'+ plate[i] +'" onclick="image(this)" style="border: 4px solid red;border-left-width: 0px;"/>';
          }else{
            div.innerHTML += '<img src={{url_for('static',filename= '')}}'+ plate[i].substring(7) +'/' + images[well][1] + ' id="'+ plate[i] +'" onclick="image(this)"/>';
            div.innerHTML += '<img src={{url_for('static',filename= '')}}'+ plate[i].substring(7) +'/'+ images[well][0] + ' id="'+ plate[i] +'" onclick="image(this)" />';
          }
        }

      {% endif %}
    };


    var sendmask;

    var deletetemp;
    $().ready(function(){
        //jQuery function
        deletetemp = function()
        {
          $.ajax({
            type : 'POST',
            url : "{{url_for('deletetemp')}}",
            async : false
          });
        }
    })

    $().ready(function(){
        //jQuery function
        sendmask = function( _msg )
        {
          console.log(_msg)
          $.ajax({
            type : 'POST',
            dataType: 'json',
            url : "{{url_for('getmask')}}",
            contentType: 'application/json;charset=UTF-8',
            data : JSON.stringify(_msg),
            async : false
          });
        }
    })



    function select_well(){
      document.getElementById("boolean_menu").style.display = "none";
      document.getElementById("mask_menu").style.display = "block";
      var path = document.getElementById("comp_select").value;
      deletetemp();
      if (path == "default"){

        print_overview(position);

      }else{
        sendmask(path);
        var overview = document.getElementById("overview");
        overview.style.display = "block";
        var left = document.getElementById("right_arrow");
        var right = document.getElementById("left_arrow");
        left.style.display = "none";
        right.style.display = "none";
        var div = document.getElementById("page");
        div.innerHTML = '';
        var out = path.split('/');
        var well = out[out.length - 1];
        var div_plate = document.getElementById("plate");
        div_plate.innerHTML = '';
        var div = document.getElementById("lateral_div");
        div.innerHTML = '<img src={{url_for('static',filename= '')}}'+ path.substring(7)+'/' + images[well][1]  + '/>';
        var div2 = document.getElementById("dorsal_div");
        div2.innerHTML = '<img src={{url_for('static',filename= '')}}'+ path.substring(7)+ '/' +images[well][0] + '/>';
        types.forEach((item) => {
          calc(item);
        });
        var out = path.split('/');
        var well = out[out.length - 1];
        var text = document.getElementById("bool_text");
        text.innerHTML = '';
        text.innerHTML += '<tr><th style="padding-bottom: 20px;">Phenotype</th><th style="padding-bottom: 20px;">Probability</th></tr>';
        for(var name in pheno){
            var probability = parseFloat(data[well][name]).toFixed(3)
            console.log(parseFloat(data[well][name]))
            if (probability > 0.5){
              text.innerHTML += '<tr><td>'+ pheno[name] + '</td><td><span style="color: #ff0000">' + probability + '</td></tr></span>';
            }else{
              text.innerHTML += '<tr><td>'+ pheno[name]+ '</td><td>' + probability + '</td></tr>';
            }

        };
        document.getElementById("bool").style.display = "flex";
      }

     };

//masks display
    function calc(type)
      {
      var e = document.getElementById("comp_select");
      var path = e.value;
      var out = path.split('/');
      var well = out[out.length - 1];
      if(path != "default"){
        if (document.getElementById(type).checked)
        {
          var image = temp +"/"+well+ type + ".png"
          var div = document.getElementById(type+"_div");
          if (type == 'eyes_dorsal'){
            var div2 = document.getElementById('eyes2_dorsal_div');
            div.innerHTML = '<img src={{url_for('static',filename= '')}}'+ temp +"/"+well+ 'eye_up_dorsal.png' + ' style="opacity: 0.5;"'+ '/>';
            div2.innerHTML = '<img src={{url_for('static',filename= '')}}'+ temp +"/"+well+ 'eye_down_dorsal.png' + ' style="opacity: 0.5;"'+ '/>';
          }else{
            div.innerHTML = '<img src={{url_for('static',filename= '')}}'+ image + ' style="opacity: 0.5;"'+ '/>';
          }
        }
        else{
          document.getElementById(type+"_div").innerHTML = '';
          if (type == 'eyes_dorsal')  document.getElementById('eyes2_dorsal_div').innerHTML = '';
        }
      }
    };

// display image selected in overview
    function image(element){

      document.getElementById("comp_select").value = element.id
      select_well();

    };

// Return to overview
    function overview(){
      document.getElementById("comp_select").value = "default"
      types.forEach((type) => {
        var div = document.getElementById(type+"_div");
        div.innerHTML = ''
      });
      select_well();
    };


    </script>

  </body>
