<!doctype html>
  <title>Terato</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">  </head>

  <body class="body_terato">
    <div class="pos">
    <form method=post enctype=multipart/form-data>
      <label>
        <img src="{{url_for('static',filename= 'img/file_but.png')}}" class="but_file">
        <input type=file name='file[]' style="display:none" webkitdirectory mozdirectory />
      </label>
      <label>
        <img src="{{url_for('static',filename= 'img/upload_but.png')}}" class="but_upload">
        <input type=submit name=Upload style="display:none">
      </label>
    </form>
  </div>
  <div class="home">
    <a href="{{ url_for('home') }}"><img class="but_home" src="{{url_for('static',filename='img/home_but.png')}}"></a>
  </div>



  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="goo">
        <fegaussianblur in="SourceGraphic" stddeviation="4" result="blur"></fegaussianblur>
        <fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" result="goo"></fecolormatrix>
        <feblend in="SourceGraphic" in2="goo"></feblend>
      </filter>
    </defs>
  </svg>

    {% if done %}
    <div class="selector">
      <div class="box">
        <select id="comp_select" onchange="select_well()">
          <option value="default" selected>Choose one well</option>
          {% for well in plates %}
          <option value="{{ well }}">{{ well }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="rectangle">
        <div class="check">
            <div class="cbx">
              <input type="checkbox" id="eyes_dorsal" onclick="calc('eyes_dorsal')"/>
              <label for="eyes_dorsal"></label>
              <svg width="15" height="14" viewbox="0 0 15 14" fill="none">
                <path d="M2 8.36364L6.23077 12L13 2"></path>
              </svg>
            </div>
          <br>
          <br>
            <div class="cbx">
              <input type="checkbox" id="heart" onclick="calc('heart')"/>
              <label for="heart"></label>
              <svg width="15" height="14" viewbox="0 0 15 14" fill="none">
                <path d="M2 8.36364L6.23077 12L13 2"></path>
              </svg>
            </div>
          <br>
          <br>
            <div class="cbx">
              <input type="checkbox" id="outline_dorsal" onclick="calc('outline_dorsal')"/>
              <label for="outline_dorsal"></label>
              <svg width="15" height="14" viewbox="0 0 15 14" fill="none">
                <path d="M2 8.36364L6.23077 12L13 2"></path>
              </svg>
            </div>
          <br>
          <br>
            <div class="cbx">
              <input type="checkbox" id="outline_lateral" onclick="calc('outline_lateral')"/>
              <label for="outline_lateral"></label>
              <svg width="15" height="14" viewbox="0 0 15 14" fill="none">
                <path d="M2 8.36364L6.23077 12L13 2"></path>
              </svg>
            </div>
          <br>
          <br>
            <div class="cbx">
              <input type="checkbox" id="ov" onclick="calc('ov')"/>
              <label for="ov"></label>
              <svg width="15" height="14" viewbox="0 0 15 14" fill="none">
                <path d="M2 8.36364L6.23077 12L13 2"></path>
              </svg>
            </div>
          <br>
          <br>
              <div class="cbx">
              <input type="checkbox" id="yolk" onclick="calc('yolk')"/>
              <label for="yolk"></label>
              <svg width="15" height="14" viewbox="0 0 15 14" fill="none">
                <path d="M2 8.36364L6.23077 12L13 2"></path>
              </svg>
            </div>
        </div>
        <div class="labels">
            <br>
            <br>
            <p class ="sel">Eyes dorsal<br>
            <br>
            Heart<br>
            <br>
            Outline dorsal<br>
            <br>
            Outline lateral<br>
            <br>
            Ov<br>
            <br>
            Yolk</p>
        </div>
      </div>
    </div>
          <button type="button" class="refresh" onclick="overview()" name="overview">Overview</button>
          <div class="print" id ="lateral_div"> </div>
          <div class="print1" id ="dorsal_div"> </div>
          <div class="print_plate" id ="plate"> </div>
          <div class="print1" id ="eyes_dorsal_div"> </div>
          <div class="print1" id ="outline_dorsal_div"> </div>
          <div class="print" id ="outline_lateral_div"> </div>
          <div class="print" id ="heart_div"> </div>
          <div class="print" id ="ov_div"> </div>
          <div class="print" id ="yolk_div"> </div>
          <div class="print2" id ="bool_div">
          <div class="gradient-border" id="bool">
            <table class="bool" id="bool_text"> </table> </div>
          </div>




    {% endif %}
    <script type="text/javascript">

    var pheno = ['Body curvature','Yolk edema','Necrosis','Tail Bending','Notochord defects','Craniofacial edema','Fin absence','Scoliosis','Snout jaw defects','Otoliths defects']
    var types = ["eyes_dorsal", "heart", "outline_dorsal", "outline_lateral", "ov", "yolk"];

    print_overview();

// display overview
    function print_overview(){
      {% if plates is defined and plates %}
        var path = document.getElementById("comp_select").value;
        var plate = {{ plates|tojson }};
        var div = document.getElementById("lateral_div");
        div.innerHTML = '';
        var div2 = document.getElementById("dorsal_div");
        div2.innerHTML = '';
        document.getElementById("bool").style.display = "none";
        plate.forEach((well) => {
          var div = document.getElementById("plate");
          div.innerHTML += '<img src={{url_for('static',filename= '')}}'+ well.substring(7) +'/lateral.png' + ' id="'+ well +'" onclick="image(this)"/>';
          div.innerHTML += '<img src={{url_for('static',filename= '')}}'+ well.substring(7) +'/dorsal.png' + ' id="'+ well +'" onclick="image(this)"/>';

        });
      {% endif %}
    };


    function select_well(){
      var path = document.getElementById("comp_select").value;

      if (path == "default"){

        print_overview();

      }else{

        var div_plate = document.getElementById("plate");
        div_plate.innerHTML = '';
        var div = document.getElementById("lateral_div");
        div.innerHTML = '<img src={{url_for('static',filename= '')}}'+ path.substring(7) +'/lateral.png' + '/>';
        var div2 = document.getElementById("dorsal_div");
        div2.innerHTML = '<img src={{url_for('static',filename= '')}}'+ path.substring(7) +'/dorsal.png' + '/>';
        types.forEach((item) => {
          calc(item);
        });
        var out = path.split('/');
        var well = out[out.length - 1];
        var data = {{ dict|tojson }};
        var text = document.getElementById("bool_text");
        text.innerHTML = '';
        text.innerHTML += '<tr><th>Phenotype</th><th>Probability</th></tr>';
        for (var i = 0; i <= 9; i++){
            if (data[well][i].toFixed(3) > 0.5){
              text.innerHTML += '<tr><td>'+ pheno[i]+ '</td><td><span style="color: #ff0000">' + data[well][i].toFixed(3) + '</td></tr></span>';
            }else{
              text.innerHTML += '<tr><td>'+ pheno[i]+ '</td><td>' + data[well][i].toFixed(3) + '</td></tr>';
            }

        }
        document.getElementById("bool").style.display = "flex";
      }

     };

//masks display
    function calc(type)
      {
      var e = document.getElementById("comp_select");
      var path = e.value;
      if(path != "default"){
        if (document.getElementById(type).checked)
        {
          var image = path + "/" + type + "_out.png"
          var div = document.getElementById(type+"_div");
          div.innerHTML = '<img src={{url_for('static',filename= '')}}'+image.substring(7)+ '/>';
        }
        else{
          document.getElementById(type+"_div").innerHTML = '';
        }
      }
    };

// display image selected in overview
    function image(element){

      document.getElementById("comp_select").value = element.id
      select_well();

    };

// Return to overview
    function overview(){
      document.getElementById("comp_select").value = "default"
      types.forEach((type) => {
        var div = document.getElementById(type+"_div");
        div.innerHTML = ''
      });
      select_well();
    };


    </script>

  </body>
